openapi: 3.0.3

# This is your document metadata.
info:
  version: 4.6.1
  title: PayByBank Specification
  description: |
    ### Fiserv PayByBank solution exposes a set of services to facilitate ACH account vaulting, authorization and settlement. 
    PayByBank follows an enroll first and pay later model. Consumer needs to first enroll himself into the system by providing demographic and ACH payment information. The payment information is tokenized and ACH transactions can be sent in by merchants using the PayByBank token.
    Authorization, Risking, Settlement are all inhouse functionalities to TeleCheck.

    PayByBank solution enforces a full payload encryption. Details of encryption and decryption can be found at [Encryption/Decryption Methodology](https://escmconfluence.1dc.com/pages/viewpage.action?pageId=498239026).

  termsOfService: https://merchants.fiserv.com/en-us/privacy/?utm_source=firstdataus
  contact:
    name: API Support
    email: dl-na-paybybank-it-gbs@fiserv.com
# Servers where this API is hosted
servers:
  - url: https://cat.api.firstdata.com/gateway/v2/connectpay
    description: Certification Environment
  - url: https://prod.api.firstdata.com/gateway/v2/connectpay
    description: Production Environment
tags:
  - name: Security Services
    description: These set of services are used to assist in the encryption of request payload and pulling consumer information. These set of services should always be called from merchants secure server.
  - name: Online Bank Login
    description: These set of services are used to assist online bank login use cases
  - name: Consumer Profile Management
    description: These set of services assist in managing consumer profile information **create** **update** **authenticate** **close**
  - name: Account Services
    description: These set of services assist pulling ACH wallet information for consumer on file to select one of the valted account for PayByBank Transactions
  - name: Transactions
    description: These set of services are for processing ACH Transactions
# This is the endpoint that will show
paths:
  '/security/createsessiontoken':
    # This is similar to a file directory of showing which is a subgroup of which
    #Here Create Sesssion Token is under the Security Services folder/parent group 
    #It is also which type of RESTful API call it is which in this case it is a Post
    post:
      x-proxy-name: Create Session
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates a time bound public key and session token.
        Should be used by merchants who use PayByBank SDKs.
      # This is the description of the API shown below the endpoint
      description: |
        The Create Session Token API call is used to create a session token and to retrieve the RSA public encryption key generated for this session.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      # The parameters are the headers
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      #This documentation is the same as the Response example portion which path is referenced in the next comment below
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionTokenRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestPayloadSample'
              RequestWithAccountInformationPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestWithAccountInformationPayloadSample'
      # This is the part that starts to reference the example response code pages
      # Command find on this page "200-CPAPI_GET_SESSION_TOKEN" to go to the response code examples section
      responses:
        '200':
          $ref: '#/components/responses/200-CreateSessionTokenResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_SESSION_TOKEN'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_SESSION_TOKEN'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_SESSION_TOKEN'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_SESSION_TOKEN'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_SESSION_TOKEN'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_SESSION_TOKEN'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_SESSION_TOKEN'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_SESSION_TOKEN'

  '/security/getpublickey':
    post:
      x-proxy-name: Get Public Key
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates long lived reuable public key for full API integration merchant (Not using PayByBank SDKs).
      description: |
        The Get Public Key API call is used to create a long lived reusable RSA public encryption.
        This call should be used instead of Create Session Token if merchant is not using our SDKs and doing a full API integration.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublicKeyRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetPublicKeyPayloadSample'
              RequestWithPublicKeyOverridePayloadSample:
                $ref: '#/components/examples/GetPublicKeyWithOverridePayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetPublicKeyResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_PUBLIC_KEY'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_PUBLIC_KEY'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_PUBLIC_KEY'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_PUBLIC_KEY'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_PUBLIC_KEY'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_PUBLIC_KEY'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_PUBLIC_KEY'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_PUBLIC_KEY'
  '/security/getdata':
    post:
      x-proxy-name: Get Data
      x-group-name: Security Services
      tags:
        - Security Services
      summary: 'To pull consumer information either by merchant or SDK'
      description: |
        When the PayByBankAPI provides a Nonce back to the Merchant during a use case, the Merchant in turn should be able to get the account details (new fdAccountId) of the consumer by securely using the provided nonce from their server.
        In addition, the Merchant or SDK can retrieve the consumer information any time after the enrollment.
        In either of the api calls, merchant have the option to retrieve the banking information in clear/masked. A merchant specific setting enables a merchant to retrieve the banking information either in clear or in mask as per business.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDataRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetDataPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetDataResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_DATA'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_DATA'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_DATA'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_DATA'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_DATA'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_DATA'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_DATA'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_DATA'
  '/onlinebanklogin/establish':
    post:
      x-proxy-name: Establish
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'First step in the online bank login process.'
      description: |
        Establish a session for online bank login operation.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EstablishRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EstablishResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BANK_ESTABLISH'
        '202':
          $ref: '#/components/responses/202-CPAPI_BANK_ESTABLISH'
        '204':
          $ref: '#/components/responses/204-CPAPI_BANK_ESTABLISH'
        '400':
          $ref: '#/components/responses/400-CPAPI_BANK_ESTABLISH'
        '401':
          $ref: '#/components/responses/401-CPAPI_BANK_ESTABLISH'
        '403':
          $ref: '#/components/responses/403-CPAPI_BANK_ESTABLISH'
        '409':
          $ref: '#/components/responses/409-CPAPI_BANK_ESTABLISH'
        '500':
          $ref: '#/components/responses/500-CPAPI_BANK_ESTABLISH'
  '/onlinebanklogin/validate':
    post:
      x-proxy-name: Validate
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'Third step in the online bank login process'
      description: |
        After user has logged into bank account and selected account to used for enrollment/transaction, this call is used to fetch the consumer and/or banking information on file from the bank.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ValidateRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ValidateResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BANK_VALIDATE'
        '202':
          $ref: '#/components/responses/202-CPAPI_BANK_VALIDATE'
        '204':
          $ref: '#/components/responses/204-CPAPI_BANK_VALIDATE'
        '400':
          $ref: '#/components/responses/400-CPAPI_BANK_VALIDATE'
        '401':
          $ref: '#/components/responses/401-CPAPI_BANK_VALIDATE'
        '403':
          $ref: '#/components/responses/403-CPAPI_BANK_VALIDATE'
        '409':
          $ref: '#/components/responses/409-CPAPI_BANK_VALIDATE'
        '500':
          $ref: '#/components/responses/500-CPAPI_BANK_VALIDATE'
  '/consumerprofile/add':
    post:
      x-proxy-name: Add
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'First step in the consumer enrollment process'
      description: |
        The Create Consumer Profile call is mandatory for any new user enrollment. This is used to create an fdCustomerID for a provided external id (and other user information) by the merchant. The returned fdCustomerID should be used right from the enrollment use case. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAddRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ProfileAddPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ProfileAddResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_CUSTOMER_ADD'
        '202':
          $ref: '#/components/responses/202-CPAPI_CUSTOMER_ADD'
        '204':
          $ref: '#/components/responses/204-CPAPI_CUSTOMER_ADD'
        '400':
          $ref: '#/components/responses/400-CPAPI_CUSTOMER_ADD'
        '401':
          $ref: '#/components/responses/401-CPAPI_CUSTOMER_ADD'
        '403':
          $ref: '#/components/responses/403-CPAPI_CUSTOMER_ADD'
        '409':
          $ref: '#/components/responses/409-CPAPI_CUSTOMER_ADD'
        '500':
          $ref: '#/components/responses/500-CPAPI_CUSTOMER_ADD'
  '/consumerprofile/enrollment':
    post:
      x-proxy-name: Enrollment
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Second step in the consumer enrollment process'
      description: |
        The Consumer Enrollment call is for any new consumer enrollment purpose. This is used to perform a ConnectPay enrollment process for a provided consumer details payload. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EnrollmentPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EnrollmentResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_ENROLLMENT'
        '202':
          $ref: '#/components/responses/202-CPAPI_ENROLLMENT'
        '204':
          $ref: '#/components/responses/204-CPAPI_ENROLLMENT'
        '400':
          $ref: '#/components/responses/400-CPAPI_ENROLLMENT'
        '401':
          $ref: '#/components/responses/401-CPAPI_ENROLLMENT'
        '403':
          $ref: '#/components/responses/403-CPAPI_ENROLLMENT'
        '409':
          $ref: '#/components/responses/409-CPAPI_ENROLLMENT'
        '500':
          $ref: '#/components/responses/500-CPAPI_ENROLLMENT'
  '/account/getaccountlist':
    post:
      x-proxy-name: Get Account List
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account List API call is used to retrieve all accounts associated with a consumer fdCustomerId.'
      description: |
        This call can be beneficial in a scenario where you want to present the different payment options that are available and allow consumer to select any one of them for their transaction.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountListRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountListPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountListResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_ACCOUNT_LIST'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_ACCOUNT_LIST'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_ACCOUNT_LIST'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_ACCOUNT_LIST'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_ACCOUNT_LIST'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_ACCOUNT_LIST'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_ACCOUNT_LIST'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_ACCOUNT_LIST'
  '/account/getaccountdetails':
    post:
      x-proxy-name: Get Account Details
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account Details API call is used to retrieve details of a particular ACH account from the fdAccountID provided.'
      description: |
        This service fetches the details of a particular ACH account from the fdAccountID provided.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountDetailsRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountDetailsPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountDetailsResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_ACCOUNT_DETAILS'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_ACCOUNT_DETAILS'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_ACCOUNT_DETAILS'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_ACCOUNT_DETAILS'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_ACCOUNT_DETAILS'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_ACCOUNT_DETAILS'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_ACCOUNT_DETAILS'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_ACCOUNT_DETAILS'
  '/transaction/purchase':
    post:
      x-proxy-name: Purchase
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to initiate purchase/sale transaction request.
      description: |
        Merchants who want to process ACH Transactions through FirstAPI must make server-to-server calls and pass necessary encrypted payload as required for that particular case.
        Use this to initiate purchase/sale transaction request where final amount is known.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHPurchaseRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ACHPurchaseRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/transaction/authorize':
    post:
      x-proxy-name: Authorize
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to imitate an authorization request.
      description:
        Merchants who want to process ACH Transactions through Fiserv must make server-to-server calls and pass the necessary encrypted payload as required for that particular case.
        Use this to initate an authorization request when the final transaction amount is not known. Unlike Debit, this will not put a hold on consumer’s funds in their account. If request is approved use the Capture request to send final transaction amount.

      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHAuthorizeRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ACHAuthorizeRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/transaction/capture':
    post:
      x-proxy-name: Capture
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
                   Use this to submit the final transaction amount after the Authorize request is approved.
      description: |
                   Use subscriberId, transactionId and merchantTransactionId from Authorize call in the Capture request.
                  
                   The transaction can also be sent in using ConnectPayPaymentNumber instead of fdAccountID.
                     
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
                 $ref: '#/components/schemas/ACHCaptureRequest'
            examples:
              RequestPayloadSample: 
                $ref: '#/components/examples/ACHCaptureRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401': 
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'           
  '/transaction/refund':
    post:
      x-proxy-name: Refund
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
                   Use this to initiate a refund request from a previously approved purchase/authorized transaction.
      description: |
                   Use this to initiate a refund request from a previously approved purchase/authorized transaction. Please note that the refund will be processed on the original account used for the transaction. Use subscriberId, transactionId and merchantTransactionId from the Purchase/Capture call in the Refund request. The transaction can also be sent in using connectPayPaymentNumber instead of fdAccountID.                    
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
                 $ref: '#/components/schemas/ACHRefundRequest'
            examples:
              RequestPayloadSample: 
                $ref: '#/components/examples/ACHRefundRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401': 
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample' 
  '/transaction/void':
    post:
      x-proxy-name: Void
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
                   Use this to initiate a void request from a previously approved purchase/authorized transaction.
      description: |
                   Use this to initiate a void request from a previously approved purchase/authorized transaction.  Please note that the void will be processed on the original account used for the transaction. Use SubscriberId, TransactionId and MerchantTransactionId from the Purchase/Capture call in the Void request. The transaction can also be sent in using connectPayPaymentNumber instead of fdAccountID.                    
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
                 $ref: '#/components/schemas/ACHVoidRequest'
            examples:
              RequestPayloadSample: 
                $ref: '#/components/examples/ACHVoidRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401': 
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample' 
  '/transaction/collectionfee':
    post:
      x-proxy-name: Collection Fee Notification
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
                   Point of sale transaction use cases to display applicable state collection fee and cost to the consumer prior to transacting.
      description: |
                   Per Reg E requirements, this service is required for in-person, point of sale transaction use cases to display applicable state collection fee and cost to the consumer prior to transacting.  For other payment uses cases (i.e. online transactions) this service is not needed, rather a link to our collection fee and cost table is displayed in the checkout page.  Please refer to the Legal and Compliance section in the ConnectPay Merchant Guide.                    
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
                 $ref: '#/components/schemas/ACHCollectionFeeRequest'
            examples:
              RequestPayloadSample: 
                $ref: '#/components/examples/ACHCollectionFeeRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401': 
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample' 
components:
  parameters:
    apiKeyParam:
      name: Api-Key
      description: An API key is a string value passed by a client app or sdk to the PayByBank. The key uniquely identifies the client app or sdk.
      in: header
      required: true
      schema:
        type: string
    timestampParam:
      name: Timestamp
      description: Epoch timestamp in the request initiating system.
      in: header
      required: true
      schema:
        type: string
    authorizationParam:
      name: Authorization
      description: Authorization information for the request. Format- `HMAC {hmacToken}`. If Client-Token HTTP Header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    clientTokenParam:
      name: Client-Token
      description: This is OAuth token generated by PayByBank security services. If Authorization header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    contentTypeParam:
      name: Content-Type
      description: application/JSON is the only supported type.
      in: header
      required: true
      schema:
        type: string
    corelationIDParam:
      name: corelationID
      description: For server to server partner setup, Merchant Application Server needs to pass the same reference transaction id in this header for transaction tracking or related transactions.
      in: header
      required: false
      schema:
        type: string
    isSecureCallParam:
      name: isSecureCall
      description: For server to server partner setup, Merchant Application Server needs to send value Y in this header.
      in: header
      required: false
      schema:
        type: string
  schemas:
    CPAPIGenericResponse:
      type: object
      properties:
        transactionStatus:
          description: Overall status of the call.
          type: string
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
          nullable: false
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
          nullable: false
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
          nullable: false
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 30
          nullable: true
        responseVerbiage:
          type: string
        nonce:
          type: string
        errorDetails:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
              errorField:
                type: string
              errorReason:
                type: string
        account:
          type: array
          items:
            type: object
            properties:
              accountStatus:
                type: string
              accountStatusDesc:
                type: string
              accountValidationDetails:
                type: array
                items:
                  type: object
                  properties:
                    validationCode:
                      type: string
                    validationCodeDesc:
                      type: string
                    validationCodeStatus:
                      type: string
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                  lastName:
                    type: string
                  email:
                    type: string
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                  street2:
                    type: string
                  state:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                  accountNumber:
                    type: string
                  onlineBankTransactionId:
                    type: string
                  bankName:
                    type: string
                  connectPayPaymentNumber:
                    type: string
                  corporateAccountFlag:
                    type: string
                  userPhone:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: string
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
            tckResponseCode:
              type: string
            approvalCode:
              type: string
            denialRecordNumber:
              type: string
            displayText:
              type: string
            sequenceId:
              type: string
            ecaOfferCode:
              type: string
            achTransactionStatus:
              type: string
            amount:
              type: string
            currency:
              type: string
            responseMessageMisc:
              type: string
            dateTime:
              type: string
            returnCheckFee:
              type: string
            returnCheckNote:
              type: string
            key:
              type: string
            accessId:
              type: string
            merchantId:
              type: string
            description:
              type: string
            merchantReference:
              type: string
            paymentType:
              type: string
            returnUrl:
              type: string
            cancelUrl:
              type: string
            requestSignature:
              type: string
            onlineBankTransactionId:
              type: string
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
            externalID:
              type: string
        security:
          type: object
          properties:
            tokenID:
              type: string
              description: Token ID associated Public Key generated for SDK initialization.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
            issuedOn:
              type: number
              description: Date on which the Public Key was issued.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 15
              nullable: true
            expiresInSeconds:
              type: number
              description: Defines the number of seconds after which the Public Key expires.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 9
              nullable: true
            publicKey:
              type: string
              description: RSA Public Key to encrypt AES Key and IV.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 500
              nullable: true
            alogorithm:
              type: string
              description: Encryption algorithm that should be used with the Public Key for doing the field level encryption.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 40
              nullable: true
            status:
              type: string
              description: Status of the token ID.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
    CreateSessionTokenRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
        account:
          description: Account array object is only required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: fdAccountID for the consumers account is required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
    GetPublicKeyRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
            publicKeyOverridable:
              type: string
              description: This value should only be true if a new long lived public key needs to be generated before the last one has timed out.
    GetDataRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: Consumer’s fdAccountID generated in response to Consumer Enrollment.
              fetchAccountDetails:
                type: array
                items:
                  type: object
                  properties:
                    fetch:
                      type: string
                      description: firstName-description
                    masked:
                      type: string
                      description: masked-description
    EstablishRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - ACH
                description: Value "ACH" always needs to be passed in this field.
              callType:
                type: string
                description: Defines the type of data pulled from bank. Should be agreed upon value during onboarding of a merchant. Allowable values are "pwmb.getBankInfo", "pwmb.getConsumerInfo", "pwmb.getAll"
              returnUrl:
                type: string
                description: When using a web interface, after the user completes the online bank login service, this url will be loaded to the browser with all the online bank login parameters appended to it.
    ValidateRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              userIdentificationDetails:
                type: object
                properties:
                  onlineBankTransactionId:
                    type: string
              requestSignature:
                type: string
              callType:
                type: string
              oblTransactionType:
                type: string
              merchantReference:
                type: string
              status:
                type: string
              panel:
                type: string
              paymentType:
                type: string
              paymentProviderType:
                type: string
              paymentAccountVerified:
                type: string
              returnUrl:
                type: string
    ProfileAddRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
    EnrollmentRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                    description: firstName-description
                  lastName:
                    type: string
                    description: lastName-description
                  email:
                    type: string
                    description: email-description
                  gender:
                    type: string
                    description: gender-description
                  dob:
                    type: string
                    description: dob-description
                  memberSince:
                    type: string
                    description: memberSince-description
                  agreedTncVersion:
                    type: string
                    description: agreedTncVersion-description
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                    description: street-description
                  street2:
                    type: string
                    description: street2-description
                  state:
                    type: string
                    description: state-description
                  city:
                    type: string
                    description: city-description
                  country:
                    type: string
                    description: country-description
                  postalCode:
                    type: string
                    description: postalCode-description
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                    description: routingNumber-description
                  accountNumber:
                    type: string
                    description: accountNumber-description
                  connectPayPaymentNumber:
                    type: string
                    description: connectPayPaymentNumber-description
                  corporateAccountFlag:
                    type: string
                    description: corporateAccountFlag-description
                  driverLicenseNumber:
                    type: string
                    description: driverLicenseNumber-description
                  driverLicenseState:
                    type: string
                    description: driverLicenseState-description
                  ssn:
                    type: string
                    description: ssn-description
                  onlineBankTransactionId:
                    type: string
                    description: onlineBankTransactionId-description
                  pin:
                    type: string
                    description: pin-description
              sqnA:
                type: array
                items:
                  type: object
                  properties:
                    securityQuestionId:
                      type: string
                      description: securityQuestionId-description
                    securityQuestion:
                      type: string
                      description: securityQuestion-description
                    securityAnswer:
                      type: string
                      description: securityAnswer-description
              userPhone:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: type-description
                    number:
                      type: string
                      description: number-description
                    extension:
                      type: string
                      description: extension-description
                    primary:
                      type: string
                      description: primary-description
              reportingFields:
                type: object
                properties:
                  reportingField1:
                    type: string
                    description: reportingField1-description
                  reportingField2:
                    type: string
                    description: reportingField2-description
                  reportingField3:
                    type: string
                    description: reportingField3-description
              genericCodes:
                type: object
                properties:
                  genericCode1:
                    type: string
                    description: genericCode1-description
                  genericCode2:
                    type: string
                    description: genericCode2-description
                  genericCode3:
                    type: string
                    description: genericCode3-description
              genericFlags:
                type: object
                properties:
                  genericFlag1:
                    type: string
                    description: genericFlag1-description
                  genericFlag2:
                    type: string
                    description: genericFlag2-description
                  genericFlag3:
                    type: string
                    description: genericFlag3-description
              userSysDetails:
                type: object
                properties:
                  ipAddress:
                    type: string
                    description: ipAddress-description
                  trueIpAddress:
                    type: string
                    description: trueIpAddress-description
                  imei:
                    type: string
                    description: imei-description
                  organizationId:
                    type: string
                    description: organizationId-description
                  sessionId:
                    type: string
                    description: sessionId-description
    GetAccountListRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
    GetAccountDetailsRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
    ACHPurchaseRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              fdAccountID:
                type: string
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    description: Session ID used for device fingerprinting services.
    ACHAuthorizeRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              fdAccountID:
                type: string
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    description: USD - Only supports US Dollars.
                  pinData:
                    type: string
                    description: This is the encrypted pin block for validating the transaction.
                  merchantTransactionId:
                    type: string
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
                  splitShipmentFlag:
                    type: string
                    description: Optional field denoting that this is a Split Shipment Original Authorization. The Authorization life will be counted from the time of this transaction and the Authorization Range will be based on the Amount of this transaction.
                  productCode:
                    type: string
                    description: Product code identifies the highest ticket item in the purchase and is used in the risk analysis of the transaction. Value should be unsigned numeric.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    description: Session ID used for device fingerprinting services.
    ACHCaptureRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              userIdentificationDetails:
                type: object
                properties:
                  connectPayPaymentNumber:
                    type: string
                    description: ConnectPay Payment number.
              transactionDetails:
                type: object
                properties:
                  transactionId:
                    type: string
                    description: Unique ID for each Transaction which could be used to trace a transaction..
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.                    
                  currencyCode:
                    type: string
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  splitShipmentFlag:
                    type: string
                    description: Optional field denoting that this is a Split Shipment Original Authorization. The Authorization life will be counted from the time of this transaction and the Authorization Range will be based on the Amount of this transaction.
                  splitShipmentId:
                    type: string
                    description: This optional field is only required for Split Shipment Capture transaction. The format will be x/y where numerical values 01/99 through 99/99 are accepted.
                  productCode:
                    type: string
                    description: Product code identifies the highest ticket item in the purchase and is used in the risk analysis of the transaction. Value should be unsigned numeric.
    ACHRefundRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              userIdentificationDetails:
                type: object
                properties:
                  connectPayPaymentNumber: 
                    type: string
                    description: ConnectPay Payment Number.
              transactionDetails:
                type: object
                properties:
                  transactionId:
                    type: string
                    description: Unique ID for each Transaction which could be used to trace a transaction..
                  amount:
                    type: number
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    description: Session ID used for device fingerprinting services.
    ACHVoidRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              userIdentificationDetails:
                type: object
                properties:
                  connectPayPaymentNumber: 
                    type: string
                    description: ConnectPay Payment Number.
              transactionDetails:
                type: object
                properties:
                  transactionId:
                    type: string
                    description: Unique ID for each Transaction which could be used to trace a transaction..
                  amount:
                    type: number
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    description: Session ID used for device fingerprinting services.
    ACHCollectionFeeRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              description: Transaction Subscriber ID
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of account.
              transactionDetails:
                type: object
                properties:
                  gpsState: 
                    type: string
                    description: ""
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    description: Session ID used for device fingerprinting services.

  examples:
    CreateSessionTokenRequestPayloadSample:
      value:
        security:
          publicKeyRequired: true
    CreateSessionTokenRequestWithAccountInformationPayloadSample:
      value:
        security:
          publicKeyRequired: true
        account:
          - type: ACH
            fdAccountID: CPlgPO15804795190661084P4u9zY
    GetPublicKeyPayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: false
    GetPublicKeyWithOverridePayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: true
    GetDataPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY16074639744570000921EKCfWM
        account:
          - type: ACH
            fdAccountID: CPX8lY1607463998985721BKCeBf
            fetchAccountDetails:
              - fetch: getAllDetails
                masked: N
    EstablishRequestPayloadSample:
      value:
        account:
          - type: ACH
            callType: pwmb.getAll
            returnUrl: https://qa.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
        customer:
          fdCustomerID: CPHZ5J15829135992040000839bCQExj
    ValidateRequestPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY15653275885410000003vPLqiF
        account:
          - type: ACH
            userIdentificationDetails:
            onlineBankTransactionId: 1002536270
            requestSignature: QCXCovlWAGq/OmyDAl7pcAmK+ek=
            callType : pwmb.getAll
            oblTransactionType: 1
            merchantReference: 1961
            status: 2
            panel: 1
            paymentType: 6
            paymentProviderType: 1
            paymentAccountVerified: true
            returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
    ProfileAddPayloadSample:
      value:
        customer:
          externalID : Merchant01Consumer65746635
    EnrollmentPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
        account:
          - type: ACH
            userDetails:
              firstName: Harry
              lastName: Smith
              email: harry.smith@firstdata.com
              gender: M
              dob: 19001010
              memberSince: 19001010
              agreedTncVersion: v1
            userAddressDetails:
              street: 7979 Westheimer
              street2: APT 229
              state: TX
              city: Houston
              country: 840
              postalCode: 77063
            userIdentificationDetails:
              routingNumber: "141313134"
              accountNumber: "4444444444"
              connectPayPaymentNumber: ""
              corporateAccountFlag: personal_check
              driverLicenseNumber: "85123430"
              driverLicenseState: TX
              ssn: "123456789"
              onlineBankTransactionId: ""
              pin: "1234"
            sqnA:
              - securityQuestionId: "1234"
                securityQuestion: What is the name of your pet dog ?
                securityAnswer: Bingo
            userPhone:
              - type: MOBILE
                number: "1234567890"
                extension: ""
                primary: "Y"
              - type: HOME
                number: "2234567890"
                extension: ""
                primary: "N"
              - type: BUSINESS
                number: "3234567890"
                extension: "1234"
                primary: "N"
            reportingFields:
              reportingField1: "123"
              reportingField2: "456"
              reportingField3: "789"
            genericCodes:
              genericCode1: "1"
              genericCode2: "2"
              genericCode3: "3"
            genericFlags:
              genericFlag1: "F"
              genericFlag2: "Y"
              genericFlag3: "Z"
            userSysDetails:
              ipAddress: "10.10.10.10"
              trueIpAddress: "11.11.11.11"
              imei: "548624521256523"
              organizationId: Ozvk1dz
              sessionId: jhgd87f658adbasjhbdas765d
    GetAccountListPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
    GetAccountDetailsPayloadSample:
      value:
        customer:
          fdCustomerID : CP0hCA15819809713750000745a2K9go
        account:
          - type: ACH
            fdAccountID: CP0hCA1583183750214467CFr5aq
    ACHPurchaseRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3
    ACHAuthorizeRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              pinData: ""
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              splitShipmentFlag: "Y"
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3
    ACHCaptureRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {
              connectPayPaymentNumber: "2000000008000586"
            }
            transactionDetails:
              transactionId: "1400320000000007761093"
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
              splitShipmentFlag: "Y"
              splitShipmentId: "01/99"
              productCode: 770100
    ACHRefundRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {
              connectPayPaymentNumber: "2000000008000586"
            }
            transactionDetails:
              transactionId: "1400320000000007761093"
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
              recurringPayment: "Y"
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3
    ACHVoidRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {
              connectPayPaymentNumber: "2000000008000586"
            }
            transactionDetails:
              transactionId: "1400320000000007761093"
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3              
    ACHCollectionFeeRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        account:
          - type: "ACH"
            transactionDetails:
              gpsState: "WA"
              userSysDetails:
                organizationId: s0b500qh
                sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3              
  responses:
  #This is the start of the Create Session Token response examples
    200-CreateSessionTokenResponsePayloadSamples: 
      description: |
        Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            200-Approved-0:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-039d7190-069a-cde1-3043-de622362f15e
                transactionStatusDescription: OK
                security:
                  tokenID: 5m1ew614uiwStDegPq48MSA9ej5E
                  issuedOn: 1683296193218
                  expiresInSeconds: 899
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo8jR693ueb0BGPasFMf1V9QP6VpElKu1x/Qpu8M4DhX0o0VimgAd3TY0TPAK6Tl+DkkC0ana1u/NjEVomoZXP15jWEBSFG2DciiMPLtzbvrobwdmWnWQHSX9licUb5jf0fOKe2gx7q0CY095+SkVjytnQGdc315WYMMo/a1EUXzFhy1ZMkj6riZ+wEneQITsN1haKqS6Q6wQMBjHBrsFomaU2qPrnlrpuZjXUP5rt5+CYCGdwLEiCGNGe47tqP48Yk3snn+yVdPWnOfuz5aG3dNdteV5zVhMkVGIdmrJTgAh1auCOxNc44GTGo3rQn9WD5p4Lo8aLGkyHjv3kmvDLQIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
    ## This is the title of the response codes and will use this as part of the path reference to show the response codes
    #200-CPAPI_GET_SESSION_TOKEN: 
      ## This is the description of what will show on the response code page for the respective HTTP response
      #description: | 
        #Success
      ## This defines each field such as what datatype should be passed and etc. Search CPAPIGenericResponse on page to find specific code
      #content: 
        #application/json: 
          ## This is the reference to the type talked about above
          #schema: 
            #$ref: '#components/schemas/CPAPIGenericResponse'
          ## This is where you put the payload examples
          #examples: 
    201-CPAPI_GET_SESSION_TOKEN:
      description: | 
        The request was successfully fulfilled and resulted in one or multiple new resources being created
    202-CPAPI_GET_SESSION_TOKEN:
      description: | 
        The request has been accepted for processing, but the processing has not been finished yet
    204-CPAPI_GET_SESSION_TOKEN:
      description: | 
        The request has succeeded, but the client doesn't need to navigate away from its current page
    400-CPAPI_GET_SESSION_TOKEN:
      description: | 
        Bad request
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            1010-publicKeyRequired:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 14ddbc50-86a4-79bd-d3e6-9218e92e5374
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: publicKeyRequired
                  errorReason: Field did not have a valid format
            1010-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 8c946c3d-c5a2-5347-1191-da8a28ce1db1
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: type
                  errorReason: Field did not have a valid format
            1020-publicKeyRequired:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: ca236707-b083-d591-6944-c0d014c76b5e
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: publicKeyRequired
                  errorReason: Field contained a bad value
            1030-publicKeyRequired:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 335e8e99-0c08-40ca-6ea8-3c46479dd0da
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: publicKeyRequired
                  errorReason: Required field did not have a value
            1030-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 8dd8c5bb-d691-515b-c902-65c6d325e705
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: type
                  errorReason: Required field did not have a value
            1035-publicKeyRequired:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 05c6a934-3744-3a99-cee3-61b6713b6560
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: publicKeyRequired
                  errorReason: Required field is missing
            1035-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: ae779604-1804-5385-77b3-6a182e54d938
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: type
                  errorReason: Required field is missing
            1040-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: b01312c9-876b-a55e-0179-74dc83e90aeb
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1040
                  errorField: customer
                  errorReason: Required block did not have a value
            1040-security:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 7b54c297-c9dc-1da5-3a8c-249e106a3c58
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1040
                  errorField: security
                  errorReason: Required block did not have a value
            1040-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 605a87d5-5142-090d-e3ee-386244886a9a
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1040
                  errorField: account
                  errorReason: Required block did not have a value
            1045-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: a0b75dd2-705e-d2ab-5ed6-5878cb68d321
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1045
                  errorField: customer
                  errorReason: Required block is missing
            1045-security:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 93d5a921-edc4-a13d-0be7-90ae72502d95
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1045
                  errorField: security
                  errorReason: Required block is missing
            1045-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e9a9020c-25b7-bc64-2d1b-a7b9ec34e1ba
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1045
                  errorField: account
                  errorReason: Required block is missing
            1060-PartnerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 64402053-7de9-4503-0213-9c0b740b367a
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: PartnerID
                  errorReason: Required Header Field is missing
            1060-SubscriberId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 4d9a36b7-d691-a7da-aa41-45e5bece8523
                transactionStatusDescription: Input is invalid 
                errorDetails:
                  errorCode: 1060
                  errorField: SubscriberId
                  errorReason: Required Header Field is missing
            1060-fdAccountID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: c2a00876-a5e8-a9ec-419a-78c549762840
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: fdAccountID
                  errorReason: Required Header Field is missing
            1060-issuedOn:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 46eb6da0-3718-564c-753a-0cb28694bbb9
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: issuedOn
                  errorReason: Required Header Field is missing
            1060-expiresInSeconds:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e3e4ce47-82d9-06a9-2080-0ce1eb8bdb43
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: expiresInSeconds
                  errorReason: Required Header Field is missing
            1060-Client-Token:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 7453bc5b-3227-2dd3-5d17-5c86293c1b58
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: Client-Token
                  errorReason: Required Header Field is missing
            1080-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 15bb022e-098d-8e64-380c-cc09126646c0
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1080
                  errorField: account
                  errorReason: Block contain values more than that is allowed
            4500-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 56374808-8b74-5c15-c3d7-a42c5c6d9cab
                transactionStatusDescription: Partner Not Found
                errorDetails: 
                  errorCode: 4500
                  errorField: PartnerID
                  errorReason: PartnerID not Found
    401-CPAPI_GET_SESSION_TOKEN:
      description: | 
        Unauthorized
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            4550-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 51e63397-d626-2660-1284-335ad828859c
                transactionStatusDescription: Unauthorize
                errorDetails: 
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
    403-CPAPI_GET_SESSION_TOKEN:
      description: | 
        Forbidden
    409-CPAPI_GET_SESSION_TOKEN:
      description: | 
        Indicates a conflict with the current state of a resource
    500-CPAPI_GET_SESSION_TOKEN:
      description: | 
        An unexpected server error occured
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            5112-UCOMM_GET_PUBLIC_KEY:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: ee370809-076c-dbd1-6d3d-bee5b9696002
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5112
                  errorField: UCOMM_GET_PUBLIC_KEY
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5340-OauthToken:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: d8998d61-952a-d542-9a92-386d29133b43
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5340
                  errorField: Oauth Token
                  errorReason: Configuration Error, Please contact customer support
            nan-nan:
              value: 
                transactionStatus: 
                transactionStatusCode: 500
                referenceTransactionID: 36dd67d4-d25b-cd77-767d-07704a676457
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: nan
                  errorField: nan
                  errorReason: nan
    # This is a seperate pathway, do not worry about this response example below
    401-AuthenticationErrorPayloadSample:
      description: |
        ### HTTP 401 Response.
        #### Authentication error. Probably due to incorrect Authorization header calculation.
    # This is the start of the Get Public Key response examples
    200-GetPublicKeyResponsePayloadSamples:
      description: |
        Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-ea52bf08-1829-4d1a-99bb-24d689c57400
                transactionStatusDescription: OK
                security:
                  issuedOn: "2024-01-20T20:37:14.167049733Z"
                  expiresInSeconds: 31622400
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAofzBBruWDxHCbSJaWY4hq8THqo/MxrRCMhJlDg45MIFoQe7UaX84DlzMOfTyUmwAy7sOoKIz9SIEOknOgrIOks37gsPYivkgHxbkr1Z7cGgQy8qZTPk5/8QH4M/SJTx8hpGF56NLRNcvgm1bvpmgfg9KwvxvIHDT/7lS7TxLkbO+WPe+OtljovYivRMPJJSoBrtTHmCO4ep3ipYFxrAkSGmeBQANsza7/g7nI8kt23w6C9TDRfoVdsgY56IcH69GqqVKI6kRVmKauxWdCUrfbY516zD8tt1THn5196Xjgo/oCHYk5JEuznWhqueTiO5SkSB6bvj8hnNZYrB4Uhd8KwIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
    201-CPAPI_GET_PUBLIC_KEY:
      description: | 
        The request was successfully fulfilled and resulted in one or multiple new resources being created
    202-CPAPI_GET_PUBLIC_KEY:
      description: | 
        The request has been accepted for processing, but the processing has not been finished yet
    204-CPAPI_GET_PUBLIC_KEY:
      description: | 
        The request has succeeded, but the client doesn't need to navigate away from its current page
    400-CPAPI_GET_PUBLIC_KEY:
      description: | 
        Bad request
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            4500-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 1d37d250-3d06-b248-6249-2240db552014
                transactionStatusDescription: Partner Not Found
                errorDetails: 
                  errorCode: 4500
                  errorField: PartnerID
                  errorReason: PartnerID not Found
    401-CPAPI_GET_PUBLIC_KEY:
      description: | 
        Unauthorized
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            4550-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 285c0e59-d4c7-2cd5-4015-b0b1331291c2
                transactionStatusDescription: Unauthorize
                errorDetails: 
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
    403-CPAPI_GET_PUBLIC_KEY:
      description: | 
        Forbidden
    409-CPAPI_GET_PUBLIC_KEY:
      description: | 
        Indicates a conflict with the current state of a resource
    500-CPAPI_GET_PUBLIC_KEY:
      description: | 
        An unexpected server error occured
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            5112-UCOMM_GET_PUBLIC_KEY:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 99a07ba4-7d02-cd5a-a025-96d1edb37bac
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5112
                  errorField: UCOMM_GET_PUBLIC_KEY
                  errorReason: Please try again after some time, If issue persist please contact customer support
    # This is the start of establish bank login
    200-EstablishResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 186ad875-1695-3254-68a4-b578034b94e7
                transactionStatusDescription: OK
                teleCheckDetails:
                  amount: 0.00
                  currency: USD
                  accessId: RqBNyqzgTVGhmvyV74NM
                  merchantId: 1001200367
                  description: TCK_PWMB Call
                  merchantReference: 18096
                  paymentType: Retrieval
                  returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  cancelUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  requestSignature: 76XVsxZbD9BGJQWRWgWeEPs7V5M=
                customer:
                  fdCustomerID: CP0hCA15725561636040000017vlLFeL
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Unauthorize
                responseVerbiage: Unauthorize
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 97dd7979-8fa4-9e80-75df-4bb6924863ae
                transactionStatusDescription: Input is invalid
                responseVerbiage: Input is invalid
                errorDetails:
                  errorCode: 1035
                  errorField: CallType
                  errorReason: Required field is missing
    201-CPAPI_BANK_ESTABLISH:
      description: | 
        The request was successfully fulfilled and resulted in one or multiple new resources being created
    202-CPAPI_BANK_ESTABLISH:
      description: | 
        The request has been accepted for processing, but the processing has not been finished yet
    204-CPAPI_BANK_ESTABLISH:
      description: | 
        The request has succeeded, but the client doesn't need to navigate away from its current page
    400-CPAPI_BANK_ESTABLISH:
      description: | 
        Bad request
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            1010-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 882e0479-892d-641d-aba3-d0cbb79b9e02
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: type
                  errorReason: Field did not have a valid format
            1010-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 79ce27a5-a146-dea9-9640-4c4a8cba59cd
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: fdCustomerID
                  errorReason: Field did not have a valid format
            1010-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 370e80d8-2b37-7123-6a3a-29db568597d1
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1010
                  errorField: PassPhase
                  errorReason: Field did not have a valid format
            1010-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d379e8a6-2918-1730-a249-1568ba12c200
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1010
                  errorField: InitializationVector
                  errorReason: Field did not have a valid format
            1010-adapter:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 89d1cb52-a8ec-6e85-0a38-60d228a6aa0c
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: adapter
                  errorReason: Field did not have a valid format
            1020-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 68300d70-ac45-de6e-66a2-2ba3ede389ab
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: fdCustomerID
                  errorReason: Field contained a bad value
            1020-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d25086e0-0dec-e94c-e027-e890611672b9
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1020
                  errorField: type
                  errorReason: Field contained a bad value
            1020-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 239b0415-4a65-bde0-a9b3-31581d7b360d
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: PassPhase
                  errorReason: Field contained a bad value
            1020-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 079ac5e9-51de-3442-690c-aaa95c2b12cc
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: InitializationVector
                  errorReason: Field contained a bad value
            1020-adapter:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 4d1e52c6-002d-873c-92a0-5470d2c55145
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: adapter
                  errorReason: Field contained a bad value
            1030-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 4b09a0a5-7abb-7166-0ba4-981629bc8b60
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: type
                  errorReason: Required field did not have a value
            1030-CallType:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 879a931d-d238-ee50-3379-42122c9b0c0c
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1030
                  errorField: CallType
                  errorReason: Required field did not have a value
            1030-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 3e9b7a9d-dbbb-c753-d4a1-81a02c3325a7
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: fdCustomerID
                  errorReason: Required field did not have a value
            1030-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
[...]
